{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "rules": {
    "import/no-dynamic-require": "off",
    "indent": ["error", 2, { "MemberExpression": 0, "SwitchCase": 1 }],
    "operator-linebreak": "off",
    "space-before-function-paren":"off"
  },
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}
